//common.scss 全局公共样式
*{
    margin: 0;
    padding: 0;
}
.inline-flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.f-left{
    float: left;
}
.f-right{
    float: left;
}
.j-item {
    justify-items: center;
}
